################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/CryptoServiceCSharp/bin/Debug
/CryptoServiceCSharp/obj
/.vs/CryptoServiceCSharp
